@media screen and (max-width: 1198px){
	.flex-container{
		display: flex;
		flex-direction: column; 
	}
}
/*=====================================Social Icons====================================*/

ul.contact{
	margin: 0;
	padding: 1.5em 0em 2.5em 0em;
	list-style: none;
}
	
ul.contact li{
	display: inline-block;
	padding: 0em 0.30em;
	font-size: 1em;
}
	
ul.contact li span{
	display: none;
	margin: 0;
	padding: 0;
}
	
ul.contact li a{color: #FFF;}
	
ul.contact li a:before{
	display: inline-block;
	background: #3f3f3f;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #FFFFFF;
}
	
ul.contact li a.icon-twitter:before { background: #2DAAE4; }
ul.contact li a.icon-facebook:before { background: #39599F; }
ul.contact li a.icon-rss:before { background: #F2600B; }
/*==========================================List Style======================================*/

ul.style1{
	margin: 0;
	padding: 0;
	list-style: none;
}
	
ul.style1 li{
	border-top: solid 1px #E5E5E5;
	padding: 0.80em 0;
}
	
ul.style1 li:first-child{
	border-top: 0;
	padding-top: 0;
}

ul.style2{
	margin: 0;
	padding: 0;
	list-style: none;
}
	
ul.style2 li{
	border-top: solid 1px #E5E5E5;
	padding: 0.80em 0;
}
	
ul.style2 li:first-child{
	border-top: 0;
	padding-top: 0;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	background-color: #fdfdfd;
}
.shadow {box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);}
        
.btn-danger {
	color: #fff;
	background-color: #f00000;
	border-color: #dc281e;
}

.masthead {
	background: #FF8040;
	height: auto;
	padding-bottom: 15px;
	box-shadow: 0 16px 48px #E3E7EB;
	padding-top: 10px;
}
/*=================================Title Style==============================*/

.title{
	margin-bottom: 2em;
	text-transform: uppercase;
}

.title h2{
	font-weight: 400;
	font-size: 2em;
	color: #16a085;
}
	
.title .byline{
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.90em;
	color: #6F6F6F;
}
/*==================================Footer=====================================*/

#footer-wrapper{
	overflow: hidden;
	padding: 5em 0em;
	background: #1E1B1A;
	width: 100%;
}

#footer{color: #ADADAD;}
	
#footer .title h2{
	font-weight: 400;
	font-size: 1.2em;
	color: #FFF;
}

#footer .title{border-color: #2D2926 !important;}
	
#footer .style1 li{border-color: #2D2926 !important;}
	
#footer .style1 a{
	font-size:1em;
	color: #B1B1B1;
}

#footer-wrapper{background: #0F0F0F;}
/*=================================================================================*/

#follow-wrapper{
	float: right;
	width: 344px;
	padding-left: 40px;
}

/*=========================================Social icons===============================================*/

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}